extends layout

block content
	h1= dataH.data.desc
	figure
		img(src=dataH.data.img, alt="")
	p Welcome to #{dataH.data.desc}
	ul
		- for(x=0; x<dataH.data.list.length; x++)
			li
				if(x==1)
					a(href="#") #{dataH.data.list[x]} Đồ ngốc
				else
					a(href="#") #{dataH.data.list[x]} ahihi 
		- for(x=0; x<dataH.data.news.length; x++)
			.item
				h2=dataH.data.news[x].name
				p=dataH.data.news[x].desc
